/*----------------------
          共通
-----------------------*/

html {
  font-size: 62.5%;
}

a {
  cursor: pointer;
}

.wrapper {
  width: 100%;
  max-width: 1240px;
  padding: 0 16px;
  margin: 0 auto;
}

/*----------------------
          header
-----------------------*/

.header {
  width: 100%;
  height: 80px;
  background: #fff;
  position: fixed;
  top: 0;
  padding: 0 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 10;


  @media screen and (max-width:600px) {
    padding: 0 16px;
  }


  .site-title {
    font-size: 4.0rem;
  }

  .hamb-btn {
    position: absolute;
    right: 40px;
    cursor: pointer;
    width: 30px;
    height: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 5px 0;


    @media screen and (max-width:600px) {
      right: 16px;
    }
  }

  .hamb-btn-bar {
    display: block;
    content: "";
    width: 30px;
    height: 2px;
    background: #000;
    transition: transform .5s, opacity .5s;
    z-index: 999;

    &.active {
      background: #fff;
    }

  }

  .top-bar {
    &.active {
      transform: translateY(9px) rotate(-315deg);
    }
  }

  .middle-bar {
    &.active {
      opacity: 0;
    }
  }

  .bottom-bar {
    &.active {
      transform: translateY(-9px) rotate(315deg);
    }
  }

  .hamb-overlay {
    opacity: 0;
    transition: all .3s;

    &.active {
      opacity: 1;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100vh;
      background: #000000a2;
    }
  }

  .hamb-menu {
    width: 300px;
    height: 100vh;
    background: #121212;
    padding: 56px 30px 0;
    font-size: 1.4rem;
    color: #fff;
    position: fixed;
    left: -300px;
    opacity: 0;
    transition: left .5s, opacity .5s;

    &.active {
      left: 0px;
      opacity: 1;
    }
  }

  .hamb-menu-ul {
    margin-bottom: 70px;
  }

  .hamb-menu-li {
    height: 64px;
    line-height: 64px;
    border-top: 1px solid #fff;

    &:last-child {
      border-bottom: 1px solid #fff;
    }
  }

  .hamb-sns-li {
    margin-bottom: 24px;
  }
}

/*----------------------
          main
-----------------------*/

.main {
  margin-top: 80px;
}

.section-title {
  font-size: 3.6rem;
  font-weight: 700;
  width: 100%;
  text-align: center;
  margin-bottom: 48px;

  @media screen and (max-width:600px) {
    font-size: 2.4rem;
    margin-bottom: 32px;
  }
}

.video {
  width: 100%;
  margin-bottom: 120px;

  @media screen and (max-width:600px) {
    height: 100vh;
    object-fit: cover;
    margin-bottom: 96px;
  }
}

/*----------------------
        .pickup
-----------------------*/
.pickup {
  width: 100%;
  margin-bottom: 120px;

  .pickup-items {
    width: 100%;
  }

  li {
    margin-inline: 30px;
  }

  .pickup-item-img {
    display: inline-block;
    max-width: 100%;
    margin: 0 aut0;
  }
}

/*----------------------
        .feature
-----------------------*/
.feature {

  .feature-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: auto;
    gap: 30px;
    margin-bottom: 60px;

    @media screen and (max-width:983px) {
      grid-template-columns: repeat(2, 1fr);
    }

    @media screen and (max-width:657px) {
      grid-template-columns: 1fr;
    }

    .feature-card {
      box-shadow: 0 0 12px #888888;
    }

    .feature-img {
      opacity: 0;
      transform: translateY(10px);
      display: block;
      max-width: 100%;
      margin-bottom: 36px;
      transition: all 1s;

      &.on {
        opacity: 1;
        transform: translateY(0);
      }
    }

    .feature-info {
      width: 100%;
      padding: 0 30px 36px;
      font-size: 1.2rem;
    }

    .feature-category {
      margin-bottom: 30px;
    }

    on .feature-title {
      font-size: 1.4rem;
      font-weight: 700;
      margin-bottom: 30px;
    }

    .feature-time {
      text-align: right;
      display: block;
      width: 100%;
      font-size: 1.2rem;
    }
  }
}

/*----------------------
        .contact
-----------------------*/

.contact {
  background: #121212;
  color: #fff;
  font-size: 1.2rem;
  line-height: 24px;
  padding: 60px 0 0;

  @media screen and (max-width:600px) {
    padding: 60px 0 80px;
  }


  .contact-container {
    display: flex;
    justify-content: space-between;

    @media screen and (max-width:600px) {
      display: block;
    }
  }

  .contact-info,
  .contact-form {
    width: 45%;

    @media screen and (max-width:600px) {
      width: 100%;
    }
  }

  .contact-text {
    margin-bottom: 40px;

    @media screen and (max-width:600px) {
      margin-bottom: 32px;
    }
  }

  input[type=text],
  textarea {
    display: block;
    background: #fff;
    width: 100%;
    color: #121212;
  }

  input[type=text] {
    height: 40px;
    margin-bottom: 16px;
    padding: 0 8px;
  }

  textarea {
    height: 70px;
    margin-bottom: 24px;
    padding: 8px;
  }


  input[type=submit] {
    display: block;
    border: .5px solid #fff;
    width: 200px;
    margin-bottom: 24px;
    padding: 12px 0;
    text-align: center;

    @media screen and (max-width:600px) {
      width: 100%;
      margin: 0;
    }

    &:hover {
      color: #121212;
      background: #fff;
    }
  }

}

/*----------------------
        footer
-----------------------*/

.footer {
  background: #121212;
  color: #fff;
  text-align: center;
  padding: 12px 0;
}